html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  scroll-behavior: smooth;
}

ol, ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, li {
  line-height: 100%;
}

blockquote, q {
  quotes: none;
}

q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select {
  font: 12px 'Montserrat', sans-serif;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

body {
  background-image: url(../images/tri_big.png);
  background-size: 6%;
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 21px;
  color: #bfc2c0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1e29;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 33px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ff576d !important;
}

h2 {
  font-size: 25px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #ff576d;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #ff576d;
}

h5 {
  font-size: 14px;
  margin-bottom: 15px;
}

h6 {
  font-size: 12px;
  margin-bottom: 15px;
  color: #9eded8;
}

/*--- LINKS ---*/

a {
  color: #009688;
  text-decoration: none;
  transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
}

a:hover {
  color: #ff576d;
  text-decoration: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: disc;
}

ul li, ol li {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 10px 15px;
}

table, th, td {
  border: 1px solid #575C5F;
}

th {
  padding: 3px;
  font-weight: bold;
}

tr {
  margin: 0 0 5px 0;
  padding: 3px;
}

td {
  padding: 5px;
  margin: 0 1px;
}

hr {
  border-bottom: #ff576d dotted 1px;
  margin: 5px 0;
  padding: 0;
  height: 2px;
  width: 100%;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.profile img {
  width: 100%;
  border-radius: 100%;
  margin: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}
.profile div {
  margin: auto 0 auto 20px;
}

.copyright {
  border: 0px;
  height: 1px;
  width: 1px;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 20px 0 10px;
}

/*---- HEADER ----*/

#header {
  padding: 0px 0px 10px;
}

#header .top_banner {
  background-image: url("../images/inspiration-geometry.png");
  background-size: 20%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #2d314a;
  height: 100px;
  padding: 50px 150px 0 50px;
  margin-bottom: 0px;
  border-radius: 5px;
}

#header h1 {
  font-size: 32px;
  color: #bfc2c0;
  margin: 0px;
  padding: 0px 0px 10px;
}

#header h1 a {
  color: #ff576d;
  text-decoration: none;
}

#header h1 a:hover {
  text-decoration: none;
}

#header p {
  font-size: 16px;
  margin-left: 1px;
  color: #bfc2c0;
}

/*---- NAVBAR ----*/

#nav {
  position: absolute;
  width: 870px;
  padding: 15px 15px;
  background: #2d314a;
  border-radius: 5px;
  background-image: url("../images/inspiration-geometry.png");
  background-size: 20%;
  background-repeat: repeat;
  background-attachment: fixed;
}

ul#navigation {
  position: relative;
  float: left;
}

ul#navigation li {
  display: inline;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px 35px;
  display: inline;
  font-size: 14px;
  border-right: #ff576d dotted 1px;
}

ul#navigation li.last {
  border-right: none !important;
}

ul#navigation li a {
  color: #bfc2c0;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;

  -webkit-transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
}

ul#navigation li a:hover {
  color: #ff576d;
}

ul#navigation li:hover > ul {
  visibility: visible;
  opacity: 1;

}

ul#navigation ul li {
  padding: 15px 0 0 0 !important;
  border: none !important;


}

ul#navigation ul li a {
  padding: 0px 15px !important;
}

ul#navigation ul, ul#navigation ul li ul {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-left: -5px;

  -webkit-transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear, opacity 0.2s linear;

  padding: 15px 15px !important;
  background: #2d314a;
  border-radius: 5px;
  background-image: url("../images/inspiration-geometry.png");
  background-size: 20%;
  background-repeat: repeat;
  background-attachment: fixed;
}

/*---- PAGE CONTENT ----*/

#page_content {
  padding: 0px 0px 20px;
  margin-top: 100px;
}

#page_content .right_section {
  width: 650px;
  float: right;
}

#page_content .right_section .top_content {
  padding: 15px 0 0px 0;
}

#page_content .right_section .top_content .column_one {
  width: 300px;
  float: left;
  margin-bottom: 20px;
}

#page_content .right_section .top_content .column_two {
  width: 300px;
  float: right;
  margin-bottom: 20px;
}

a.btn {
  color: #bfc2c0;
  font-size: 12px;
  text-decoration: none;
  padding: 6px 13px 6px 13px;
  font-weight: bold;
  display: inline-block;
  border: #ff576d dotted 1px;
  text-transform: lowercase;
  border-radius: 5px;
}

a.btn:hover {
  text-decoration: none;
  color: #ff576d;
  background-color: #bfc2c0;
}

.to_top {
  display: flex;
  justify-content: center;
}

.to_top img {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  display: block;
  position: absolute;
  margin-left: -20px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.to_top img.red {
  opacity: 0;
}

.to_top :hover > img.green {
  opacity: 0;
}

.to_top :hover > img.red {
  opacity: 1;
}

.image {
  text-align: center;
  margin: 15px 0px 15px;
  width: 100%;
}

.image img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  margin-bottom: 10px;
}

/* .image p {
  margin-top: 5px;
  margin-bottom: -5px;
} */

.common_content {
  padding-bottom: 30px;
}

/* .common_content .ref {
  padding: 0 0 15px;
} */

.common_content .ref ul {
  margin: 0px;
  padding: 0px;
}

.common_content .ref ul li {
  margin: 20px 0px 0px;
  padding: 0px 0px 10px;
  list-style-type: none;
  text-transform: lowercase;
}

.common_content .ref ul li h3 {
  margin-bottom: 5px;
  font-size: 15px;
  color: #009688;
  text-decoration: none;
}

.common_content .ref ul li p {
  font-size: 13px;
  color: #bfc2c0;
  text-transform: none;
  line-height: 21px;
}

.further_reading a, .less_reading a {
  cursor: pointer;
}

.hidden_text, .hide_container {
  display: none;
}

.show_container {
  display: block!important;
}

.code_block {
  font-size: 13px;
  text-transform: none;
  line-height: 18px;
  padding: 10px;
  margin: 15px 0px 15px;
  border-radius: 5px;
  border: #bfc2c0 dotted 1px;
}

.code_block .var, .red {
  color: #e04d69;
}

.code_block .default, .default {
  color: #bfc2c0;
}

.code_block .string {
  color: #ca708a;
}

.code_block .comment {
  color: #485375;
}

.code_block .line, .green {
  color: #009688;
}

.code_block .fkt {
  color: #65759b;
}

p.paragraph_l {
  font-size: 15px;
}

.border_left {
  border-left: #ff576d dotted 1px;
  padding-left: 20px;
}

.border_right {
  border-right: #ff576d dotted 1px;
  padding-right: 22px;
}

.border_none {
  border: none !important;
  margin: 0px !important;
}

.left_side_bar {
  width: 210px;
  float: left;
}

.left_side_bar h1 {
  font-size: 20px;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}

.left_side_bar .col_1 {
  padding: 0px 0 20px 0;
}

.left_side_bar .col_1 .box {
  padding: 10px 15px 10px;
  border-radius: 5px;
  border: #009688 dotted 1px;
}

.left_side_bar .col_1 .box p {
  padding: 0px 0px 5px;
}

.left_side_bar .col_1 .box ul {
  margin: 0px 0px -10px;
  padding: 0px 0px 0px;
}

.left_side_bar .col_1 .box ul li {
  margin: 0px 0px 0px;
  padding: 0px 0px 10px;
  font-size: 13px;
  list-style-type: none;
  text-transform: lowercase;
}

.left_side_bar .col_1 .box ul li a {
  color: #009688;
  text-decoration: none;
}

.left_side_bar .col_1 .box ul li a:hover {
  color: #ff576d;
  text-decoration: none;
}

/*---- FOOTER CONTENT----*/

#footer {
  clear: both;
  margin-top: 50px;
  padding: 15px 0px 0px 0px;
  height: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  border-top: #ff576d dotted 1px;
}

#footer a {
  color: #009688;
}

#footer a:hover {
  color: #ff576d;
}
