<section class="comments" id="comment-section">
  {% if site.data.comments[page.slug] %}    
    <!-- Existing comments -->
    <div class="comments__existing">
      <hr data-content="comments">
      {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
      {% assign comments_by_date = comments | sort: 'date' | reverse %}
      
      <!-- List main comments -->
      {% for comment in comments_by_date %}
        {%- assign email = comment.email %}
        {%- assign name = comment.name %}
        {%- assign url = comment.url %}
        {%- assign date = comment.date %}
        {%- assign message = comment.message %}
        {%- assign uid = comment._id %}

        {% include comment.html is_reply=false uid=uid replying_to=0 email=email name=name url=url date=date message=message uid=uid %}
      {% endfor %}
    </div>
  {% endif %}

  <!-- New comment form -->
  <div id="respond" class="comment__new">
    {% include comment_form.html %}
  </div>
</section>

<script type="text/javascript" defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" defer src="{{ '/assets/main.js' | relative_url }}"></script>
<script type="text/javascript" defer src="https://www.google.com/recaptcha/api.js"></script>
