<form class="js-form form" method="post" action="{{ site.staticman_url }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.slug }}">

  <hr data-content="write a comment">

  <h3>this is temporarily disabled</h3>
  <p>Stuff on the backend broke and I'll have to fix the comment server. Please hang tight and enjoy this hold music:</p>

  <audio
    controls loop
    src="/assets/audio/polycom.webm">
  </audio>

  <p style="font-size: smaller;">updated on 2022-11-30</p>

  {% comment %}

  <a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">cancel reply</a>

  <div class="textfield">
    <label for="comment-form-message">
      <textarea class="textfield__input" name="fields[message]" type="text" id="comment-form-message" placeholder="your comment" required rows="6"></textarea>
    </label>
  </div>

  <div class="textfield narrowfield">
    <label for="comment-form-name">
      <input class="textfield__input" name="fields[name]" type="text" id="comment-form-name" placeholder="your name" required/>
    </label>
  </div>

  <div class="textfield narrowfield">
    <label for="comment-form-email">
      <input class="textfield__input" name="fields[email]" type="email" id="comment-form-email" placeholder="[your email]"/>
    </label>
  </div>

  <div class="textfield narrowfield">
    <pre id="figfont-captcha"></pre>
    <label for="comment-form-captcha">
      <input class="textfield__input" name="fields[captcha]" type="text" id="comment-form-captcha" placeholder="answer" required/>
    </label>
  </div>
  
  <button class="button" id="comment-form-submit">
    Submit
  </button>

  {% endcomment %}
</form>

{% comment %}
	from: https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/modal.html
{% endcomment %}


<article class="modal mdl-card mdl-shadow--2dp">
  <div>
    <h3 class="modal-title js-modal-title"></h3>
  </div>
  <div class="mdl-card__supporting-text js-modal-text"></div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="button mdl-button--colored mdl-js-button mdl-js-ripple-effect js-close-modal">Close</button>
  </div>
</article>

<script src="/assets/asciimo.js"></script>
