<hr>
<div class="horizon">
   <a href="https://github.com/CodingBobby" target="_blank" rel="me">
      <img class="github_icon" alt="github"/>
   </a>
   <a href="https://twitter.com/BobbyCoding" target="_blank" rel="me">
      <img class="twitter_icon" alt="twitter"/>
   </a>
   <a href="/feed.xml">
      <img class="rss_icon" alt="rss"/>
   </a>
   <a href="mailto:contact@codingbobby.xyz" target="_blank">
      <img class="email_icon" alt="email"/>
   </a>
   <a href="https://www.buymeacoffee.com/CodingBobby" target="_blank" rel="noreferrer">
      <img class="coffee_icon" alt="buymeacoffee"/>
   </a>
   <span class="stretch"></span>
</div>
<br>
<div class="horizon">
  <a href="https://xn--sr8hvo.ws/%F0%9F%8F%86%C2%A9%EF%B8%8F%F0%9F%8C%A8/previous"><-</a> 🕸 💍 <a href="https://xn--sr8hvo.ws/%F0%9F%8F%86%C2%A9%EF%B8%8F%F0%9F%8C%A8/next">-></a>
   <span class="stretch"></span>
</div>

<script src="{{ '/assets/theme.js' | relative_url }}"></script>
