<hr>
<div class="horizon">
   <a href="https://github.com/CodingBobby" target="_blank" rel="noreferrer">
      <img class="github_icon" alt="github"/>
   </a>
   <a href="https://twitter.com/BobbyCoding" target="_blank" rel="noreferrer">
      <img class="twitter_icon" alt="twitter"/>
   </a>
   <a href="mailto:contact@codingbobby.xyz" target="_blank">
      <img class="email_icon" alt="email"/>
   </a>
   <a href="https://www.buymeacoffee.com/CodingBobby" target="_blank" rel="noreferrer">
      <img class="coffee_icon" alt="buymeacoffee"/>
   </a>
   <span class="stretch"></span>
</div>

<script src="{{ '/assets/theme.js' | relative_url }}"></script>
