{% assign fullurl = site.url | append: page.url %}
{% assign relpath = page.path | remove: fullurl %}
{% assign githubedit = 'https://github.com/CodingBobby/codingbobby.github.io/blob/master/' %}

<hr>
<div class="horizon" style="width: 100%;">
   <div style="font-size: 0.7rem;">
      <a href="https://xn--sr8hvo.ws/previous">⟵</a>
      🕸 💍
      <a href="https://xn--sr8hvo.ws/next">⟶</a>
   </div>

   <div>
      <a href="https://github.com/CodingBobby" target="_blank" rel="me">
         gh
      </a>
      <a href="/feed.xml">
         rss
      </a>
      <a href="mailto:{{ site.email }}" target="_blank">
         @
      </a>
      <a href="https://www.buymeacoffee.com/CodingBobby" target="_blank" rel="noreferrer">
         ☕︎
      </a>
   </div>

   <div style="font-size: 0.7rem;">
      <a href="{{ githubedit | append: relpath | append: '?plain=1' }}" target="_blank">source code</a>
   </div>
   <span class="stretch"></span>
</div>

<div class="horizon" style="width: 100%;"></div>

<div class="horizon" style="width: 100%;">
   <div style="font-size: 0.7rem;"></div>
   
   <div style="font-size: 0.7rem;">
      <a href="https://shop.codingbobby.xyz" target="_blank">
         my online-shop
      </a>
   </div>
   
   <div style="font-size: 0.7rem;"></div>
   <span class="stretch"></span>
</div>

<script src="{{ '/assets/theme.js' | relative_url }}"></script>
