<section style="display: none;" class="h-card vcard">
  <ul>
    <li class="p-name fn">
      Bob
    </li>
    <li class="p-nickname nickname">
      CodingBobby
    </li>
    <li>
      <a href="mailto:codingbobby@posteo.org" class="u-email email">codingbobby@posteo.org</a>
    </li>
    <li>
      <a href="https://codingbobby.xyz" class="u-url url" rel="me">codingbobby.xyz</a>
    </li>
    <li class="p-note note">
      I'm a chemical engineer with a love for coding, metal, science-fiction, art and coffee.
    </li>
    <li>
      <img src="/assets/images/Bob_Walter_Smoking.png" alt="CodingBobby's profile picture" title="CodingBobby" class="u-photo photo">
    </li>
  </ul>
</section>