<div id="song_list">
   {% for update in site.data.bookEntries %}
      {% if update.content != '' %}
         {% if forloop.first == false %}
            <div class="spacer"></div>
         {% endif %}
         <div class="song_item">
            <a href="{{ update.bookURL }}" target="_blank">
               <img src="{{ update.imageURL }}">
            </a>
            <div class="song_info">
               <h3>{{ update.bookTitle }}</h3>
               <h4>on p. {{ update.pageCurrent }} / {{ update.pageTotal }}</h4>
               <p>{{ update.content }}</p>
            </div>
         </div>
      {% endif %}
   {% endfor %}
</div>

<style>
   h3, h4 {
      font-family: iAWriter, sans-serif;
   }
</style>