#song_list {
   h3, h4 {
      margin-top: 0;
   }

   .song_item {
      display: inline-flex;
      width: 100%;

      .rank {
         width: 3.5rem;
         padding-right: 0.5rem;
         text-align: right;
      }
   
      a { // img inside
         width: 12rem;

         img {
            width: auto;
            height: auto;
            border-radius: .3em;
            margin: 0;
         }
      }
   }

   .song_info {
      width: 100%;
      margin-left: 1.5rem;
   }

   .spacer {
      width: 100%;
      height: 1.5rem;
   }
}
