---
layout: default
---

<a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
<h1>{{ page.title }}</h1>
{% if page.date %}
   <span class="post_date">
      {{ page.date | date: site.theme_config.date_format }}
   </span>
   {% if page.authors %}|
      {% for author in page.authors %}
         <a href="/authors#{{ author }}">
         {{ author }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
   {% endif %}
{% endif %}
{{ content }}

{% if site.posts.size > 0 and page.authors %}
   {% assign post_urls = "" | split: ',' %}

   {% for post in site.posts %}
      {% assign post_urls = post_urls | push: post.url %}

      {% if post.title == page.title and post.date == page.date %}
         {% assign post_position = forloop.index %}
      {% endif %}
   {% endfor %}

   <div class="horizon" style="width: 100%;">
      {% if post_position < site.posts.size %}
         {% assign previous_index = post_position | plus: 0 %}
         <a href="{{ post_urls[previous_index] | relative_url | replace: ".html", "/" }}">
            <- previous post
         </a>
      {% else %}
         <div></div>
      {% endif %}

      {% if post_position > 1 %}
         {% assign next_index = post_position | minus: 2 %}
         <a href="{{ post_urls[next_index] | relative_url | replace: ".html", "/" }}">
            next post ->
         </a>
      {% else %}
         <div></div>
      {% endif %}
      <span class="stretch"></span>
   </div>

   {% if page.comments == true %}
      {% include comments.html %}
   {% endif %}
{% endif %}
